<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMM ORDERS MOH</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

    <li><a href="/StdMOH">MOH STD ORDERS</a></li>
    <li><a href="/ExpMOH">MOH EXP ORDERS</a></li>
    <li><a href="/stdjpmc">JPMC STD ORDERS</a></li>
    <li><a href="/expjpmc">JPMC EXP ORDERS</a></li>
    <li><a href="/stdphc">PHC STD ORDERS</a></li>
    <li><a href="/">USERS</a></li>
  

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">name</th>
            <th scope="col">bruhims</th>
            <th scope="col">kampong</th>
            <th scope="col">jalan</th>
            <th scope="col">simpang</th>
            <th scope="col">house_Number</th>
            <th scope="col">contact_1</th>
            <th scope="col">email</th>
            <th scope="col">qo</th>
            <th scope="col">radioTOD</th>
            <th scope="col">BNHC</th>
            <th scope="col">TUHC</th>
            <th scope="col">TEHC</th>
            <th scope="col">BHC</th>
            <th scope="col">radioDistrict</th>
            <th scope="col">pm</th>
            <th scope="col">re</th>
            <th scope="col">radioNOTI</th>
            <th scope="col">radioDURATION</th>
            <th scope="col">dateSubmit</th>
            <th scope="col">ordertaken</th>
          </tr>
    
        <tbody>
        <%ime_MohOrderList.forEach(ime_MohOrder => {%>
            <tr>
                <th scope="row"><%= ime_MohOrder.name %></th>
                <td><%= ime_MohOrder.bruhims %></td>
                <td><%= ime_MohOrder.kampong %></td>
                <td><%= ime_MohOrder.jalan %></td>
                <td><%= ime_MohOrder.simpang %></td>
                <td><%= ime_MohOrder.house_Number %></td>
                <td><%= ime_MohOrder.contact_1 %></td>
                <td><%= ime_MohOrder.email %></td>
                <td><%= ime_MohOrder.qo %></td>
                <td><%= ime_MohOrder.radioTOD %></td>
                <td><%= ime_MohOrder.BNHC %></td>
                <td><%= ime_MohOrder.TUHC %></td>
                <td><%= ime_MohOrder.TEHC %></td>
                <td><%= ime_MohOrder.BHC %></td>
                <td><%= ime_MohOrder.radioDistrict %></td>
                <td><%= ime_MohOrder.pm %></td>
                <td><%= ime_MohOrder.re %></td>
                <td><%= ime_MohOrder.radioNOTI %></td>
                <td><%= ime_MohOrder.radioDURATION %></td>
                <td><%= ime_MohOrder.dateSubmit %></td>
                <td><%= ime_MohOrder.ordertaken %></td>
            </tr>
        <%})%>
        </tbody>
      </table>
</body>
</html>