<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JPMC STD ORDERS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>


    <li><a href="/StdMOH">MOH STD ORDERS</a></li>
    <li><a href="/ExpMOH">MOH EXP ORDERS</a></li>
    <li><a href="/expjpmc">JPMC EXP ORDERS</a></li>
    <li><a href="/stdphc">PHC STD ORDERS</a></li>
    <li><a href="/ImeMoh">MOH IME ORDERS</a></li>
    <li><a href="/">USERS</a></li>


    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">name</th>
            <th scope="col">bruhims</th>
            <th scope="col">kampong</th>
            <th scope="col">jalan</th>
            <th scope="col">simpang</th>
            <th scope="col">house_Number</th>
            <th scope="col">contact_1</th>
            <th scope="col">email</th>
            <th scope="col">qo</th>
            <th scope="col">radioTOD</th>
            <th scope="col">BNHC</th>
            <th scope="col">TUHC</th>
            <th scope="col">TEHC</th>
            <th scope="col">BHC</th>
            <th scope="col">radioDistrict</th>
            <th scope="col">pm</th>
            <th scope="col">re</th>
            <th scope="col">radioNOTI</th>
            <th scope="col">radioDURATION</th>
            <th scope="col">dateSubmit</th>
            <th scope="col">ordertaken</th>
          </tr>
    
        <tbody>
        <%std_JpmcOrderList.forEach(std_JpmcOrder => {%>
            <tr>
                <th scope="row"><%= std_JpmcOrder.name %></th>
                <td><%= std_JpmcOrder.bruhims %></td>
                <td><%= std_JpmcOrder.kampong %></td>
                <td><%= std_JpmcOrder.jalan %></td>
                <td><%= std_JpmcOrder.simpang %></td>
                <td><%= std_JpmcOrder.house_Number %></td>
                <td><%= std_JpmcOrder.contact_1 %></td>
                <td><%= std_JpmcOrder.email %></td>
                <td><%= std_JpmcOrder.qo %></td>
                <td><%= std_JpmcOrder.radioTOD %></td>
                <td><%= std_JpmcOrder.BNHC %></td>
                <td><%= std_JpmcOrder.TUHC %></td>
                <td><%= std_JpmcOrder.TEHC %></td>
                <td><%= std_JpmcOrder.BHC %></td>
                <td><%= std_JpmcOrder.radioDistrict %></td>
                <td><%= std_JpmcOrder.pm %></td>
                <td><%= std_JpmcOrder.re %></td>
                <td><%= std_JpmcOrder.radioNOTI %></td>
                <td><%= std_JpmcOrder.radioDURATION %></td>
                <td><%= std_JpmcOrder.dateSubmit %></td>
                <td><%= std_JpmcOrder.ordertaken %></td>-->
            </tr>
        <%})%>
        </tbody>
      </table>
</body>
</html>
